* {
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background-color: black;
}

.profile-container {
    height: 100vh;
    position: relative;
}

.profile-container > div {
    position: absolute;
    top: 30%;
    width: auto;
    opacity: 0;
    overflow: hidden;
    animation: reveal-profile 0.3s linear forwards;
    animation-delay: 0.5s;
}

@keyframes reveal-profile {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.intro {
    left: 12%;
    color: white;
    transform: translateX(-10%);

}

.name {
    font-family: "Roboto Condensed";
    top: 50%;
    left: 20%;
    font-size: 54px;
}

.divider {
    height: 5px;
    width: 200px;
    background-color: #ed093e;
    margin: 10px 0px;
}

.description {
    margin: 20px 0px;
}

.profile-links {
    right: 12%;
    transform: translateX(50%);
}

@media (max-width: 480px) {
    .intro {
        top: 10% !important;
    }
    .profile-links {
        top: 40% !important;
    }
}

.rotatingborder {
    background: transparent;
    border-radius: 50%;
    border: 4px solid;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: rotate 40s infinite linear;
}

.rotatingborder.github { border-color: rebeccapurple; border-bottom-style: dashed;}
.rotatingborder.stackoverflow { border-color: lightcoral; border-right-style: dashed;}
.rotatingborder.linkedin { border-color: cornflowerblue; border-top-style: dashed;}
.rotatingborder.quora { border-color: red; border-left-style: dashed;}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.profile-links a {
    position: relative;
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 20px 0;
}

@media (min-width: 481px) {
    .profile-links a {
        display: block;
    }
}

@media (max-width: 480px) {
    .profile-links a {
        display: inline-block;
    }
}

.profile-links img {
    width: 50px;
    height: 50px;
}

@media (min-width: 481px) {
    .stackoverflow ~ img {
        width: 42px;
        height: 42px;
        margin: 0 4px;
    }
}

.icons-container {
    background-color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px;
    border-radius: 7px;
}

.icons-container a {
    display: inline-block;
}

.icons-container img {
    height: 100px;
    width: 100px;
    margin: 10px 30px;
    transition: transform 0.2s;
}

.icons-container img:hover {
    transform: scale(1.2);
}
